body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#3d85c6, #fbcece);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 2px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #f0dda7;
    margin-bottom: 10px;
}

#bday-age {
    background: #f0dda7;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #f0dda7;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/TSHappy.webp");
}

#gift-img-hot:hover {
    object-fit: fill;
    background-image: url("images/Cheer.webp");
}

#gift-img-genius:hover {
    background-image: url("images/TSChefsKiss.webp");
}

#gift-img-badass:hover {
    background-image: url("images/TSRidingCatUnicorn.webp");
}

#gift-img-cheers:hover {
    background-image: url("images/TSHeart.webp");
}

#gift-img-happy:hover {
    object-fit: fill;
    background-image: url("images/share.png");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}